<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/general :: layout(~{::title}, ~{::section})">
<head>
    <title>Ładujemy listę OPQ</title>
</head>
<body>
<section>
    <form action="/opqFile" method="post" enctype="multipart/form-data">
        <div th:if="${param.error}!= null" class="alert alert-danger alert-dismissible" role="alert" id="liveAlert">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <strong>Ej!</strong> Podałeś niepoprawny plik lub został on edytowany i nie ogarniam... Spróbuj jeszcze raz
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="row">
            <label class="label text-light h2" for="opq">Lista Open pick quantity (OPQ_PG):</label></div>
        <div class="input-group">
            <input type="file" class="form-control" accept=".xls,.xlsx" id="opq" name="opq" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
            <input class="btn btn-success" type="submit" id="inputGroupFileAddon04" value="NEXT" name="submit">
        </div>
    </form>
    <div class="card m-5">
        <div class="row g-0">
            <div class="col-md-4">
                <img th:src="@{/img/opq.JPG}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Wrzuć listę OPQ_PG</h5>
                    <p class="card-text">Pobierz aktualną listę i wczytaj ją powyżej. Pamiętaj o poprawnym generowaniu listy. Jeśli nie wiesz jak to zrobić kliknij <a th:href="instruction">tutaj</a></p>
                    <p class="card-text text-warning">Uwaga! Istnieje również lista OPQ_CFB_PG, której niestety nie obsługuję</p>
                    <p class="card-text"><small class="text-muted">Jak wrzucisz listę i klikniesz DALEJ, poczekaj cierpliwie aż ją sobie przetrawię</small></p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>