<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SLM0003 Loader</title>
</head>
<body>
<form action="/prenotFile" method="post" enctype="multipart/form-data">
    <p class="error" style="color: red"
       th:if="${param.error}!= null">Podany plik nie jest poprawny. Spróbuj ponownie</p>
    <label for="prenot">Plik prenotyfikacji:</label>
    <input type="file"
           id="prenot" name="prenot"
           accept=".xls,.xlsx">
    <br>
    <input type="submit" value="Generuj" name="submit">
</form>
</body>
</html>