<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/general :: layout(~{::title}, ~{::section})">
<head>
    <title>Selfie Stick - menu</title>
</head>
<body>
<section>
    <div class="row justify-content-md-center">
        <div class="d-grid gap-2">
            <a class="btn btn-outline-light" th:href="prenotification-process" role="button" data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="Wieczorny proces przygotowania magazynu do refilingu i domówienie towaru, który nie został uwzględniony w prenocie. Aby wygenerować listę artykułów do przygotowania oraz do domówienia potrzebne będzie kilka list: SLM0003,OPQ i Prenotyfikacje. Wszystkie listy muszą być aktualne aby poprawnie wgenerować plik.">
                Prenotyfikacja</a>
            <a class="btn btn-outline-light" th:href="morning-order-process" role="button" data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="Poranny proces domówienia towaru, który został wyprzedany online po zamknięciu sklepu. Poranne domówienie ma zapewnić komercyjne wypełnienie magazynu z uwzględnieniem rezerwacji. Aby wygenerować listę artykułów do domówienia potrzebne będą listy: SLM0003 oraz OPQ. Listy muszą być aktualne aby poprawnie wgenerować plik.">
                Domówienie towaru</a>
            <a class="btn btn-outline-light" th:href="instruction" role="button" data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               title="Jak poprawnie pobrać listę aby program był w stanie ją poprawnie odczytać">
                Jak wygenerować listę? - instrukcja</a>
        </div>
    </div>

</section>

</body>
</html>