<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proces prenotyfikacji:</title>
</head>
<body>
  <h1>Proces prenotyfikacji</h1>
  <form action="/generate-prenot-file" method="post" enctype="multipart/form-data">
    <label for="slm0003">Plik SLM0003:</label>

    <input type="file"
           id="slm0003" name="slm0003"
           accept=".xls,.xlsx">

    <br>
    <label for="prenot">Plik Prenotyfikacji:</label>
    <input type="file"
           id="prenot" name="prenot"
           accept=".xls,.xlsx">

    <!--        <br>-->
    <!--        <label for="opq">Plik OPQ (Open pick quantity):</label>-->
    <!--        <input type="file"-->
    <!--               id="opq" name="opq"-->
    <!--               accept=".xls,.xlsx">-->
    <br>
    <input type="submit" value="Generuj" name="submit">
  </form>
</body>
</html>