<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/general :: layout(~{::title}, ~{::section})">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/main.css}" rel="stylesheet"/>
    <title>Podsumowanie</title>
</head>
<body>
<section>
    <table class="myTable p-1">
        <thead>
        <tr>
            <th>ART NR</th>
            <th>ART NAME</th>
            <th>SLID</th>
            <th>PRENOT[PQ]</th>
            <th>L23[PQ]</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${toPrepare}">
            <td th:text="${product.getNumberId()}">1</td>
            <td th:text="${product.getName()}">Mark DSAD DASDSA GSDFDSFDSFDS FDSFDS FDSFSDFSDSFSDSDFSDSD DFSDFSD</td>
            <td th:text="${product.getLocations()}">Otto</td>
            <td th:text="${product.prenotSalesPQString()}">@mdo</td>
            <td th:text="${product.l23OrderToFullPal()}">@mdo</td>
        </tr>
        </tbody>
    </table>
    <button onclick="window.print();" class="noPrint">
        Print Me
    </button>
</section>
</body>
</html>